body {
    background-image: url("./stars.jpg");
    /* background-size: cover; */
}

/* Background img  */

.bg-img {
    background-image: url("./zodiac-signs-removebg-preview.png");
    width: 1000px;
    height: 850px;
    background-size: cover;
    margin-left: 28rem;
    margin-top: -8rem;
}

/* Titles */

.sign-titles{
position: relative;
top: 18.5rem;   
left: 1rem; 
font-size: 18px;
}


.aries-title{
    color: rgb(204, 172, 93);
    margin-top: 15rem;
    margin-left: 8rem;
}

.taurus-title{
    color: rgb(204, 172, 93);
    margin-top: -3rem;
    margin-left: 23rem;
}

.gemini-title{
    color: rgb(204, 172, 93);
    margin-top: -3rem;
    margin-left: 38rem;
}

.cancer-title{
    color: rgb(204, 172, 93);
    margin-top: -2.8rem;
    margin-left: 52.5rem;
}

.capricorn-title{
    color: rgb(204, 172, 93);
    margin-top: 12.5rem;
    margin-left: 52rem;
}

.sag-title{
    color: rgb(204, 172, 93);
    margin-top: -2.5rem;
    margin-left: 37rem;
}

.scorpio-title{
    color: rgb(204, 172, 93);
    margin-top: -3.3rem;
    margin-left: 23rem;
}

.libra-title{
    color: rgb(204, 172, 93);
    margin-top: -3.3rem;
    margin-left: 9rem;
}

.leo-title{
    color: rgb(204, 172, 93);
    margin-top: 14rem;
    margin-left: 9rem;
}

.virgo-title{
    color: rgb(204, 172, 93);
    margin-top: -3rem;
    margin-left: 23rem;
}

.aquarius-title{
    color: rgb(204, 172, 93);
    margin-top: -3rem;
    margin-left: 38rem;
}

.pisces-title{
    color: rgb(204, 172, 93);
    margin-top: -2.8rem;
    margin-left: 53rem;
}

/* Buttons behind signs  */

.aries-btn {
    position: absolute;
    top: 15rem;
    margin-left: 7rem;
    width: 140px;
    height: 140px;
    cursor: pointer;

    background-color:transparent; 
    color:transparent; 
    outline:none; 
    text-decoration: none; 
     border:none;
}  

.taurus-btn {
    position: absolute;
    top: 15rem;
    margin-left: 22rem;
    width: 140px;
    height: 140px;
    cursor: pointer;

    background-color:transparent; 
    color:transparent; 
    outline:none; 
    text-decoration: none; 
     border:none;
}

.gemini-btn {
    position: absolute;
    top: 15rem;
    margin-left: 37rem;
    width: 140px;
    height: 140px;
    cursor: pointer;

    background-color:transparent; 
    color:transparent; 
    outline:none; 
    text-decoration: none; 
     border:none;
}

.cancer-btn {
    position: absolute;
    top: 15rem;
    margin-left: 51rem;
    width: 150px;
    height: 140px;
    cursor: pointer;

    background-color:transparent; 
    color:transparent; 
    outline:none; 
    text-decoration: none; 
     border:none;
}

.capricorn-btn {
    position: absolute;
    top: 30rem;
    margin-left: 52rem;
    width: 150px;
    height: 140px;
    cursor: pointer;

    background-color:transparent; 
    color:transparent; 
    outline:none; 
    text-decoration: none; 
     border:none;
}

.sag-btn {
    position: absolute;
    top: 29rem;
    margin-left: 37rem;
    width: 150px;
    height: 150px;
    cursor: pointer;

    background-color:transparent; 
    color:transparent; 
    outline:none; 
    text-decoration: none; 
     border:none;
}

.scorpio-btn {
    position: absolute;
    top: 29rem;
    margin-left: 21rem;
    width: 150px;
    height: 150px;
    cursor: pointer;

    background-color:transparent; 
    color:transparent; 
    outline:none; 
    text-decoration: none; 
     border:none;
}

.libra-btn {
    position: absolute;
    top: 29rem;
    margin-left: 6rem;
    width: 150px;
    height: 150px;
    cursor: pointer;

    background-color:transparent; 
    color:transparent; 
    outline:none; 
    text-decoration: none; 
     border:none;
}

.leo-btn {
    position: absolute;
    top: 44rem;
    margin-left: 6rem;
    width: 150px;
    height: 150px;
    cursor: pointer;

    background-color:transparent; 
    color:transparent; 
    outline:none; 
    text-decoration: none; 
     border:none;
}

.virgo-btn {
    position: absolute;
    top: 44rem;
    margin-left: 22rem;
    width: 150px;
    height: 150px;
    cursor: pointer;

    background-color:transparent; 
    color:transparent; 
    outline:none; 
    text-decoration: none; 
     border:none;
}

.aquarius-btn {
    position: absolute;
    top: 44rem;
    margin-left: 36rem;
    width: 150px;
    height: 150px;
    cursor: pointer;

    background-color:transparent; 
    color:transparent; 
    outline:none; 
    text-decoration: none; 
     border:none;
}

.pisces-btn {
    position: absolute;
    top: 44rem;
    margin-left: 50rem;
    width: 150px;
    height: 150px;
    cursor: pointer;

    background-color:transparent; 
    color:transparent; 
    outline:none; 
    text-decoration: none; 
     border:none;
}

.popup-sign {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-sign span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
}

.popup-sign div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    width: 750px;
    height: 500px;
    object-fit: cover;
}